<!-- Button trigger modal -->
<div fxLayout="row" fxLayoutAlign="end center">
  <button mat-flat-button color="accent" (click)="addEmployee()">
    Add Employee
  </button>
</div>

<!-- Modal -->

<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. John" #input />
</mat-form-field>

<div class="mat-elevation-z4">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- ID Column -->
    <ng-container matColumnDef="EmployeeId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let row">{{ row.EmployeeId }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="EmployeeName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{ row.EmployeeName }}</td>
    </ng-container>

    <!-- Dept Column -->
    <ng-container matColumnDef="DepartmentId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Department</th>
      <td mat-cell *matCellDef="let row">
        {{ row.Department.DepartmentName }}
      </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="DateOfJoining">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>DateOfJoining</th>
      <td mat-cell *matCellDef="let row">
        {{ row.DateOfJoining | date }}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="editEmployee(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteEmployee(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No data matching the filter "{{ input.value }}"
      </td>
    </tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page of employees"
  ></mat-paginator>
</div>
